div.field-name-field-sale-items-product-ref{
  float:left;
  width: 50%;
}

div.field-name-field-sale-items-product-ref div div input{
  width: 90%;
}

div.field-name-field-sale-items-description div div input {
  width: 45%;
}

div.field-name-field-sale-items-discount-amount {
  float: left;
  width: 25%
}

div.field-name-field-sale-items-discount-type {
  margin: 0px 0px 10px 0px;  
}

div.field-name-field-sale-items-quantity {
  display: block;
  float: left;
  width: 25%;
}

div.field-name-field-sale-items-single-price {
  float: left;
  width: 25%;
}

div.field-name-field-currency {
  float: left;
  width: 25%;
}

div.field-name-field-sale-payment-due-with {
  float: left;
  
  padding-bottom: 12px;
}

div.field-name-field-sale-payment-amount {
  float: left;
  width: 15%;
}

div.field-name-field-sale-payment-amount div div input[type=text] {
  width: 100%;
}

div.field-name-field-sale-payment-amount div div {
  padding-right: 10px;
}

div.field-name-field-sale-payment-price-type {
  float: left;
  width: 25%;
}

div.field-name-field-sale-items-payment-mods div div table label {
  display: block;
  margin-right: 5px;
}

div.field-name-field-sale-items-payment-mods div div table tbody tr td input[type=submit] {
  margin-top: 18px;
}

div.group-item-div {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

div.group-item-div select {
  display: block;
  margin-top: 3px;
}

div.group-item-div h3 {
  visibility: hidden;
  height: 0px;
}

fieldset.group-sale-pay-mods-fs fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}

fieldset.group-sale-pay-mods-fs fieldset legend {
  display: none;
}

fieldset.group-sale-pay-mods-fs fieldset div{
  margin: 0;
  padding: 0;
}

fieldset.group-sale-pay-mods-fs fieldset div div div div div div {
  display:none;
}

fieldset.group-sale-pay-mods-fs fieldset div div div div div input[type=text] {
  margin-top: 6px;
  display:block;
}

div.field-name-field-sale-payment-description {
  display:block;
}