  * {
    font-size:10pt;
  }
  
  div, tr, td {
    padding-left: 0px;
    margin-left: 0px;
  }
  table#head_table {
    width:100%;
  }
  div#sender {
    font-size:0.8em;
  }

  div#receipt_data_top {
    height:5cm;
  }
  table#receipt_data {
    width:100%;
  }
  div#receipt_table_top {
    height:5cm;
  }
  table.receipt_table th {
    font-weight: bold;
    background-color:#ddd;
  }
  div.receipt_notes {
    margin-top: 4cm;
  }
  
  span.doctype{
    font-size: 12pt;
    font-weight: bold;
  }
  
  .subject {
    width: 4cm;
  }
  .quantity {
    width: 2cm;
  }

  .bordertop td {
    border-top:0.5pt solid #000;
  }
  
  .left {
    text-align:left;
  }
  .right {
    text-align:right;
  }

  .small {
    font-size: 8pt;
  }
  
  .miniheader td {
    border-top: 0.25pt solid #aaa;
    font-weight: bold;
    background-color:#eee;    
  }
 